
{% extends 'base.html' %}
{% block title %}
Product
{% endblock title %}
{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static "css/product_page.css" %}">
{% endblock links %}

{% block content %}
    <!--product container-->
    <div class="mid_container">
        <!--product image container-->
        <div class="product_image">
            <img class="prdt_img_con" src="/{{vehicle.VehicleImg| cut:'showroom/'}}" alt="car" width="80%">
        </div>
        <!--product details container-->
        <div class="details">
            <!--product name-->
            <div class="price_name">
                <p class="product_name">{{vehicle.VehicleName}}</p>
                <p class="price">Price:${{vehicle.VehiclePrice}}</p>
            </div>
            {% if regstaff %}
            <div class="price_name">
                <p></P>
                <p class="price">Stock:{{stock.Stock}}</p>
            </div>
            {% endif %}
            <h5 style="padding-left:5vh;font-size:1rem;color:red;">Product Description</h5>
            <p class="product_description">
                {{vehicle.VehicleDesc}}
            </p>
            <a href="./order"><button class="book_button" >Order Now</button></a>
        </div>
    </div>
{% endblock content %}